ENVIRONMENT=development
REDIS_URL=redis://redis:<your-redis-port>/0
COINGECKO_API_URL=https://api.coingecko.com/api/v3
COINGECKO_API_KEY=<your_coingecko_api_key>
CERTIFICATE_RENEWAL_LOG=/var/log/certificate_renewal.log
AWS_ACCOUNT=<your-aws-account>
AWS_PROFILE=<your-aws-profile>
AWS_REGION=<your-aws-region>
