[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=3.0.0,<4.0.0"
gunicorn = ">=21.2.0,<22.0.0"
pytest = "*"
python-dotenv = "*"
gevent = "*"

[dev-packages]
debugpy = "*"
black = "*"
ptvsd = "*"
types-requests = "*"

[requires]
python_version = "3.11"
