@import '../colors.scss';

.disclaimer {
  text-align: center;
  margin: 1rem auto;
  max-width: 400px;
}

.disclaimer p {
  background: $grey2;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 12px;
  color: $grey5;
  margin: 0;
  display: inline-block;
}

.indicator {
  color: $greenTxt;
  margin-right: 10px;
  font-size: 8px;
  animation: breathe 2s ease-in-out infinite;
  display: inline-block;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
