@import '../colors.scss';

.groupingHeaderRoot {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(4, 1fr) repeat(1, 1fr);
  color: $grey5;
  font-weight: bold;
  margin: 1.8rem 0 0.2rem 0;
  min-height: 24px;
  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey2;
  }
}

.groupingHeaderRoot div:nth-child(1) {
  border-right: 1px solid $grey0;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.groupingHeaderRoot div:nth-child(2) {
  border-right: 1px solid $grey0;
  grid-column-start: 3;
  grid-column-end: span 4;
  text-align: center;
  line-height: 1rem;
}

.groupingHeaderRoot div:nth-child(3) {
  border-left: 1px solid $grey0;
  grid-column-start: 7;
  grid-column-end: 8;
  text-align: center;
  line-height: 1rem;
}
