@value sm, xs from "../breakpoints.css";

:root {
  --bg-color: #3599f7;
}
.navbar {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 2rem;
  color: var(--bg-color);
}

button {
  border-radius: 5px;
  padding: 8px;
  width: 180px;
  margin: 25px 5px 15px 0;
  font-size: 1em;
}

@media xs {
  button {
    width: 100px;
  }
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.active {
  background-color: var(--bg-color);
}
