@value small as bp-small, medium as bp-medium, large as bp-large from "../breakpoints.css";

.container {
  width: 85%;
  margin: 4rem auto;
}

.row {
  display: grid;
  grid-template-columns: 40px 280px 200px repeat(5, 1fr);
  min-height: 4rem;
  align-items: center;
  min-width: fit-content;
}

@media bp-medium {
  .row {
    grid-template-columns: 32px 150px 130px repeat(5, 1fr);
  }
}

.header {
  background-color: #26272b;
  min-height: 3rem !important;
  height: 3rem;
  align-content: center;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  font-weight: 600;
}
.header > div:nth-child(2n) {
  display: flex;
  align-items: center;
  background-color: #2e2f30;
  height: 3rem;
}
.header > div:nth-child(2n + 1) {
  display: flex;
  align-items: center;
}

.header div:nth-child(2) {
  justify-content: flex-start;
  padding-left: 2rem;
}

.data {
  margin: 2rem 0;
  box-shadow: 0px 0px 12px #18191b;
}

.data > div:nth-child(2n) {
  display: flex;
  align-items: center;
  background-color: #2e2f30;
  height: 4rem;
}
.data > div:nth-child(2n + 1) {
  display: flex;
  align-items: center;
}

.data div:nth-child(2) {
  justify-content: flex-start;
  padding-left: 2rem;
}

data > div:nth-child(2) {
  background-color: inherit;
}
@media bp-medium {
  .data > div:nth-child(2) {
    padding-left: 1rem;
  }
  .header div:nth-child(2) {
    padding-left: 1rem;
  }
}

.data:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

img {
  height: 30px;
  margin-right: 10px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
