@value xl, lg, sm, xs from "../breakpoints.css";
@value first-column-wide, first-column-medium, second-column-wide, second-column-medium from "../global-constants.css";

.row {
  display: grid;
  grid-template-columns: first-column-wide second-column-wide repeat(6, 1fr);
  min-height: 4rem;
  align-items: center;
  min-width: fit-content;
}

@media lg {
  .row {
    grid-template-columns: first-column-medium second-column-medium repeat(6, 1fr);
  }
}
