@import '../breakpoints.scss';
@import '../global-constants.scss';
@import '../colors.scss';

.row {
  display: grid;
  grid-template-columns: $first-column-wide $second-column-wide repeat(6, 1fr);
  column-gap: 1px;
  border-bottom: 1px solid $grey0;
  align-items: center;
  min-width: fit-content;
}

@media #{media-query(lg)} {
  .row {
    grid-template-columns: $first-column-medium $second-column-medium repeat(6, 1fr);
  }
}
