@import '../colors.scss';

.cell {
  display: flex;
  background-color: $grey2;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  text-align: center;
}
