@import '../breakpoints.scss';
@import '../global-constants.scss';
@import '../colors.scss';

.container {
  font-size: 13px;
  width: 85%;
  margin: 4rem auto;
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .container {
    font-size: 12px;
  }
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .container {
    width: 94%;
    margin: 0 auto;
  }
}

.header {
  background-color: $grey2;
  min-height: 3rem !important;
  height: 3rem;
  align-content: center;
  border-radius: 8px;
  font-weight: 600;
}

// lighter table cells
.header > div:nth-child(2n) {
  display: flex;
  align-items: center;
  background-color: $grey3;
  height: 3rem;
  border-radius: 8px;
}
.header > div:nth-child(2n + 1) {
  display: flex;
  align-items: center;
}

.header div:nth-child(2) {
  justify-content: flex-start;
}

.header div:nth-child(2) > .headerText {
  flex-grow: 10;
}

.header > .cell {
  padding-left: 3px;
  padding-right: 3px;
  justify-content: space-between;
}

.data {
  margin: 1rem 0 1.6rem 0;
}

// lighter data cells
.data > div:nth-child(2n) {
  display: flex;
  align-items: center;
  background-color: $grey3;
}
.data > div:nth-child(2n + 1) {
  display: flex;
  align-items: center;
}

.data div:nth-child(2) {
  justify-content: flex-start;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.data div:nth-child(2) {
  justify-content: flex-start;
  padding-left: 0.8rem;
}

@media #{media-query(lg)} {
  .data > div:nth-child(2) {
    padding-left: 0.8rem;
  }
}

.cell {
  background-color: $grey2;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
}

.data:hover {
  cursor: pointer;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: $grey0;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  min-height: 10rem;
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .cardContainer {
    margin: 0.4rem 0;
    padding: 0 0.4rem 0.4rem 0;
    min-height: 8rem;
  }
}

@media (max-width: 470) {
  .cardContainer {
    flex-wrap: wrap;
  }
}

img {
  height: 30px;
  margin-right: 10px;
}

.cardHeader {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 2rem;
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .cardHeader {
    gap: 2px;
    margin-bottom: 0;
  }
}
@media (max-width: 400px) {
  .cardHeader {
    white-space: nowrap;
  }
}

/* This is symbol element in the header of the card */
.cardHeader div:nth-child(2) {
  flex-grow: 100;
}

.cardBody {
  display: flex;
  align-items: center;
}

@media #{media-query(sm)} {
  .cardBody {
    align-items: flex-end;
  }
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .cardBody {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    font-size: 12px;
    padding-left: 0.5rem;
  }
}

.cardHeader div:nth-child(n + 1):nth-child(-n + 2) .cardHeaderCellLabel {
  display: none;
  font-weight: bold;
  padding-left: 8px;
}

.cardHeaderCell {
  display: flex;
  padding-left: 0.5rem;
}

.cardHeaderCellLabel {
  display: flex;
  flex-wrap: nowrap;
  color: #858585;
  padding-right: 10px;
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .cardHeaderCellLabel {
    font-size: 13px;
  }
}

.cardBodyCell {
  display: flex;
  flex: auto;
  flex-direction: column;
  row-gap: 4px;
  width: 28px;
}

.cardBodyCellLabel {
  color: #858585;
  padding-left: 8px;
}
.cardBodyCellValue {
  width: 100%;
  padding-left: 8px;
  display: flex;
  flex-wrap: wrap;
  height: 2.2rem;
  background: rgb(38 38 38 / 30%);
  align-content: center;
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .cardHeaderCellValue {
    font-size: 13px;
  }
}

.leftSortArrowContainer {
  width: 1rem;
  margin-left: 0;
}

.rightSortArrowContainer {
  width: 1rem;
  margin-right: 0;
}

.iconDown {
  color: $grey4;
  margin: 2px;
}

.iconUp {
  color: $grey4;
  margin: 2px;
}

.iconActive {
  color: $white;
}

.headerText {
  padding-left: 0 !important;
  text-align: center;
}
