.container {
  width: 85%;
  margin: 4rem auto;
}

.iconDown {
  fill-opacity: 0.4;
}

.iconUp {
  fill-opacity: 0.4;
}

.iconActive {
  fill-opacity: 0.8;
}

.headerText {
  margin-left: 8px;
  margin-right: 8px;
}
