@import '../breakpoints.scss';
@import '../global-constants.scss';
@import '../colors.scss';

.container {
  font-size: 13px;
  margin-top: 0.8rem;
  margin-bottom: 4rem;
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .container {
    font-size: 11px;
  }
}

@media #{media-query(xs)}, #{media-query(ss)} {
  .container {
    margin: 2rem auto;
  }
}

// Header

.header {
  align-content: center;
  font-weight: 600;
  margin-bottom: 1.4rem;
  cursor: pointer;
}

.header > div:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.header > div:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

// lighter table cells
.header > div:nth-child(2n) {
  display: flex;
  align-items: center;
  background-color: $grey3;
}

// darker table cells
.header > div:nth-child(2n + 1) {
  display: flex;
  align-items: center;
  background-color: $grey2;
}

.header > div:nth-child(2) {
  justify-content: flex-start;
  padding: 4px;
}

// Card header

.cardHeader {
  font-weight: 600;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

// Data

.data {
  opacity: 0.9;
}

.data > div:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.data > div:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

// lighter data cells
.data > div:nth-child(2n) {
  display: flex;
  align-items: center;
  background-color: $grey3;
}
.data > div:nth-child(2n + 1) {
  display: flex;
  align-items: center;
}

.data div:nth-child(2) {
  text-align: left;
  justify-content: flex-start;
}

@media #{media-query(lg)}, #{media-query(xl)} {
  .data > div:nth-child(2) {
    padding-left: 0.8rem;
  }
}

.data:hover {
  opacity: 1;
  cursor: pointer;
}

img {
  height: 30px;
  margin-right: 10px;
}

// .cell {
//   background-color: $grey2;
//   position: relative;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 2.6rem;
//   text-align: center;
// }

// .iconDown {
//   color: $grey5;
//   margin: 2px;
//   padding: 2px;
// }

// .iconUp {
//   color: $grey5;
//   margin: 2px;
//   padding: 2px;
// }

// .iconActive {
//   color: $white;
// }

/** The following styles are customizations for the different tables **/

// Prices

.prices {
  display: grid;
  column-gap: 1px;
  border-bottom: 1px solid $grey0;
  align-items: center;
  min-width: fit-content;
}


// Prices - table view
.prices.header, .prices.data {
  grid-template-columns: $first-column-wide $second-column-wide repeat(6, 1fr);
}

@media #{media-query(lg)} {
  .prices.header, .prices.data {
    grid-template-columns: $first-column-medium $second-column-medium repeat(6, 1fr);
  }
}

// Prices - card view
.prices.cardHeader {
  grid-template-columns: repeat(5, 1fr);
}

// Tokenomics

.tokenomics {
  display: grid;
  column-gap: 1px;
  border-bottom: 1px solid $grey0;
  align-items: center;
  min-width: fit-content;
}

// Tokenomics - table view
.tokenomics.header, .tokenomics.data {
  grid-template-columns: $first-column-wide $second-column-wide 200px repeat(7, 1fr);
}

@media #{media-query(lg)} {
  .tokenomics.header, .tokenomics.data {
    grid-template-columns: $first-column-medium $second-column-medium repeat(8, 1fr);
  }
}

// Tokenomics - card view
.tokenomics.cardHeader {
  grid-template-columns: repeat(7, 1fr);
}
