@import '../breakpoints.scss';
@import '../global-constants.scss';

.row {
  display: grid;
  grid-template-columns: $first-column-wide $second-column-wide 200px repeat(7, 1fr);
  height: 1.14rem;
  align-items: center;
  min-width: fit-content;
}

@media #{media-query(lg)} {
  .row {
    grid-template-columns: $first-column-medium $second-column-medium repeat(8, 1fr);
  }
}
