.container {
  max-width: 1140px;
  margin: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: 0.7rem 1rem;
  font-weight: 600;
}

/* .coin-name {
  margin-left: -4rem;
} */

.coin-row {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #26272b;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  margin: 1rem 1rem;
  padding: 2rem 1rem;
}

.coin-row:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

img {
  height: 30px;
  margin-right: 8px;
  /* width: auto; */
}

.img-symbol {
  display: flex;
  align-items: center;
}

/* .cell {
  width: 380px;
} */

.column-0 {
  width: 10rem;
}

.column-1 {
  width: 15rem;
}

.column-2 {
  width: 40rem;
}

.column-3 {
  width: 40rem;
}

.column-4 {
  width: 40rem;
}

.column-5 {
  width: 40rem;
}

.column-6 {
  width: 40rem;
}

.table {
  width: 100vw;
}

@media screen and (max-width: 720) {
  .hide-mobile {
    display: none;
  }
}
