.navbar {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 2rem;
  color: #0afa96;
}

.purple {
  color: #0afa96;
}

.mainMenu {
  margin: auto;
  display: table;
}

button {
  border-radius: 3px;
  padding: 5px;
  width: 150px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.active button {
  pointer-events: none;
  background-color: #0afa96;
}
