

.navbar {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.icon {
	font-size: 2rem;
	color: #0afa96;
}

.purple {
	color:  #0afa96;
}

.mainMenu {
	margin: auto;
    display: table;
}

button {
	padding: 5px;
	width: 150px;	
	margin: 5px;
}

.btnPressed {
	opacity: .2;
}