.container {
  width: 85%;
  margin: 4rem auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: fit-content;
}

.header {
  background-color: #26272b;
  height: 3rem;
  align-content: center;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  font-weight: 600;
}

.header > div:nth-child(2n) {
  background-color: #2e2f30;
  height: 3rem;
  width: calc((100% - 340px) / 6);
}

.header > div:nth-child(2n + 1) {
  width: calc((100% - 340px) / 5);
}

.header > div:nth-child(1) {
  width: 60px;
}

.header > div:nth-child(2) {
  width: 280px;
}

.header > div:nth-child(2) {
  background-color: inherit;
}

.data {
  margin: 2rem 0;
  box-shadow: 0px 0px 12px #18191b;
  height: 4rem;
}

.data > div:nth-child(2n) {
  background-color: #2e2f30;
  height: 4rem;
  width: calc((100% - 340px) / 5);
}

.data > div:nth-child(2n + 1) {
  width: calc((100% - 340px) / 5);
}

.data > div:nth-child(1) {
  width: 60px;
}

.data > div:nth-child(2) {
  background-color: inherit;
  width: 280px;
}

.data:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.cell {
  display: flex;
  /* min-width: 4rem; */
  width: 10rem;
  align-items: center;
  justify-content: center;
}

.img {
  height: 30px;
  margin-right: 10px;
}

/* TODO: Adapt this and other media queries once cell content is more clear */
/* @media screen and (max-width: 1550px) {
  .row {
    display: grid;
    grid-template-columns: 22px 180px 120px repeat(5, 1fr);
    min-height: 4rem;
    align-items: center;
  }
  .cell {
    padding-left: 1.2rem;
  }
} */
