@import './colors.scss';

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $grey1;
  color: #f4f4f4;
  margin-top: 2rem;
}

#root {
  margin: 0 auto;
  max-width: 2000px;
  width: 85%;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 1rem;
}
